.carrousel {
    position: relative;
    display: flex;
    height: 415px;
    border-radius: 25px;
    overflow: hidden;
    margin: var(--padding);
    z-index: 0;

    &-arrow-left,
    &-arrow-right {
        position: absolute;
        top: 50%;
        font-size: 74px;
        transform: translateY(-50%);
        cursor: pointer;
    }

    &-arrow-left {
        left: 20px;
    }

    &-arrow-right {
        right: 20px;
    }

    & img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
        object-position: center;
        mix-blend-mode: normal;
    }

    &-slide-number {
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 18px;
    }

    // -- Media Querys --
    @media (max-width: 768px) {
        margin: var(--padding-query);
    }

    @media (max-width: 540px) {
        height: 255px;

        &-arrow-left,
        &-arrow-right {
            font-size: 18px;
        }

        & p {
            display: none;
        }
    }
}

.carrouselOff {
    display: none;
}
