.starRating-container {
    font-size: 24px;
    gap: 15px;
    display: flex;
    margin-bottom: 19px;

    // -- Media Querys --
    @media (max-width: 540px) {
        font-size: 13px;
        margin-bottom: 0;
        gap: 6px;
    }
}

.grey-star {
    color: #e3e3e3;
}
