.footer {
    width: 100%;
    height: 209px;
    background-color: var(--black);
    padding: 30px;

    & .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        justify-content: flex-end;
    }

    &-logo {
        width: 122px;
        margin: 30px;
    }

    & p {
        font-size: 24px;
    }

    // -- Media Querys --
    @media (max-width: 540px) {
        & p {
            font-size: 12px;
        }
        & .container {
            justify-content: center;
        }
    }
}

main {
    flex-grow: 1;
}
