.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0 60px 0;
    padding: var(--padding);

    & ul {
        display: flex;
        gap: 60px;
    }

    & li {
        list-style-type: none;
    }

    & a {
        text-decoration: none;
        color: var(--pink);
        font-size: 24px;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    & .active {
        text-decoration: underline;
    }

    // -- Media Querys --
    @media (max-width: 768px) {
        margin: 20px 0;
        padding: var(--padding-query);
    }

    @media (max-width: 540px) {
        & img {
            width: 145px;
        }

        & a {
            font-size: 12px;
        }

        & ul {
            gap: 10px;
        }
    }
}
